*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
 -webkit-tap-highlight-color: transparent; /* prevent blue highlighting when using touch events only works in chrome tho*/

}
a {
  text-decoration: none;
}
a:hover,a:focus{
  text-decoration: none;
}
li{
  list-style: none;
}
.page-content {
    width:100%;
    height:100%;
    position:relative;
}
/* menu */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display:block;
}
ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-left:20px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 0px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
/*-----------------------------------------menu ends-----------------------------------------*/
/* autocomplete */
.autocomplete-container{
    position:relative;
    z-index:999;
}
.autocomplete {
    width:235px;
    padding:0px;
    border: 1px solid black;
    border-top:none;
    position:absolute;
    right:0;
    background:#262626;
    color:#E5E5E5;
}
.autocomplete-li:hover {
    cursor: pointer;
    background:#333;
}
/*-----------------------------------------Carousel-----------------------------------------------------*/
.image-slider-wrapper {
    width:100%;
    margin: auto;
    height: 800px;
    overflow:hidden;
    position:relative;
}
.image-slider-inner {
    width:100%;
    height:100%;
    position:relative;
}
.image-slider-item:not(:nth-child(1)) {
  display:none;
}
.image-slider-item {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.image-slider-item img {
    width:100%;
    height:100%;
}
.slider-caption {
    position:absolute;
    bottom:10%;
    left:50%;
    transform: translateX(-50%);
}
.caption {
    font-size:50px;
    color:white;
    text-shadow:black 0px 0px 10px;
    text-align:center;
}
.slider-control {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    background:transparent;
    border:none;
    outline:none !important;
    color:white;
    opacity:0.2;
    text-shadow:black 0px 0px 10px;
    height:100%;
    font-size:60px;
    padding:10px;
}
.slider-control:hover {
    cursor:pointer;
}
#prevButton:hover {
    opacity:1;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.21) 68%, rgba(0,0,0,0.01) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.21) 68%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.21) 68%,rgba(0,0,0,0.01) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
#nextButton:hover {
    opacity:1;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}
#prevButton {
    left:0px;
}
#nextButton {
    right:0px;
}
.slider-indicators {
    position:absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:5px;
}
.slider-indicator {
    height:10px;
    width:50px;
    cursor:pointer;
    background:white;
    border:none;
    outline:none !important;
    transition: opacity 0.5s;
}
.slider-indicator:not(:nth-child(1)) {
    opacity:0.5;
}
/*----------------------------------------This is CONTACT container---------------------------------------------*/
.middle iframe{
  padding-top: 80px ;
  width: 70%;
  margin:auto;
  display: block;
}
.middle .container{
  margin-top: 50px;
}
.middle textarea{
  margin-top: 20px;
}
.middle .form-control{
  border-radius: 0;
}
.middle button{
  background-color: #e7755b;
  border-width: 0;
  margin-top: 20px;
  margin-left: 15px;
  color: white;
  padding: 2px 35px;
  font-size: 13px;
  font-weight: bold;
}
.middle button:hover{
  background-color: #5c929e;
}
/*--------------------------------------------End of CONTACT container---------------------------------------------*/
/*--------------------------------------------This is ABOUT US container-------------------------------------------*/
.banner{
  border:0;
  border-bottom: 3px solid #e4785c;
}
.banner time{
    font-size:31px;
    color: #e4785c;
    width: 70px;
    margin-right: 30px;
    text-align: center;
    float: left;
}
.banner span{
    display: block;
    font-size: 17px;
    color: #000;
}
.banner .extra-wrap{
  overflow: auto;
}
.banner .extra-wrap h3{
  font-size: 23px;
  color: #a4a4a4;
  margin:-5px 0 10px;
}
.banner li{
  list-style: none;
  padding-top:5px;
  margin-left: -15px;
}
/*-------------------------------------------End of ABOUT US container-----------------------------------*/
/*-------------------------------------------This is AMUSEMENT container---------------------------------*/
.amusement h5{
  margin-left: -20px ;
  margin-bottom: 5px;
}
.amusement .custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.amusement .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.amusement .custom-checkbox .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50px;
}
.amusement .custom-checkbox input:checked + .checkmark {
  background-color: #d82037;
}
.amusement .custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.amusement .custom-checkbox input:checked + .checkmark:after {
  display: block;
}
.amusement .custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.amusement .custom-checkbox input:checked + .disabel{
  background-color: #eee;
}
.amusement .disabeled{
  color:gray;
}
.amusement .by-height input{
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.amusement .by-height label{
  display: block;

}

.amusement label:last-child{
  margin-bottom: 25px;
}
.amusement .extra-wrap{
  overflow: auto;
}
.amusement .amusement-main{
  position: relative;
  margin-top: 30px;
}
.amusement .amusement-main .amusement-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.amusement .amusement-main .amusement-image-container{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: white;
  font-size: 15px;
}
.amusement .amusement-main .amusement-image-container p{
  padding-left: 10px;
  padding-right: 10px;
}
.amusement button{
  background-color: #d82037;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 20px;
}
.amusement button:hover{
  outline: none;
  user-select: none;
  background-color: #ffc342;
  color: black;
}
.amusement .amusement-main:hover .amusement-image{
  opacity: 0.3;
}
.amusement .amusement-main:hover .amusement-image-container{
  opacity: 1;
}
/*-------------------------------------------End of AMUSEMENT container----------------------------------*/
/*-------------------------------------------This is RESTAURANT container--------------------------------*/
.restaurant-title{
  text-align: center;
}
.restaurant-title i{
  color: #ffc342;
  padding-right: 3px;
}
.restaurant-title .star-one{
  font-size: 10px;
}
.restaurant-title .star-two{
  font-size: 12px;
}
.restaurant-title .star-three{
  font-size: 14px;
}
.restaurant-title h1{
  color: #23355e;
  padding-right: 10px;
  padding-left: 10px;
  display: inline;
}
.restaurant h5{
  margin-left: -20px ;
  margin-bottom: 25px;
}
.restaurant .custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.restaurant .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.restaurant .custom-checkbox .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50px;
}
.restaurant .custom-checkbox input:checked + .checkmark {
  background-color: #d82037;
}
.restaurant .custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.restaurant .custom-checkbox input:checked + .checkmark:after {
  display: block;
}
.restaurant .custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.restaurant .custom-checkbox input:checked + .disabel{
  background-color: #eee;
}
.restaurant .disabeled{
  color:gray;
}
.restaurant label:last-child{
  margin-bottom: 25px;
}

.restaurant button{
  background-color: #d82037;
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 20px;
}
.restaurant button:hover{
  outline: none;
  user-select: none;
  background-color: #ffc342;
  color: black;
}
.restaurant .restaurant-main{
  border-top: 1px solid green;
  padding-top: 20px;
  margin-top: 20px;
}
.restaurant .restaurant-main .restaurant-image{
  float: left;
  width: 250px;
  height: 150px;
  margin-right: 30px;
}
.restaurant .restaurant-main .extra-wrap{
  overflow: auto;
  font-size: 14px;
}
/*-------------------------------------------End of  RESTAURANT container--------------------------------*/
/*-------------------------------------------This is FOOTER----------------------------------------------*/
.footer{
  background-color: #4CAF4F;
  opacity: 1;
  margin-top: 50px; 
}
.footer a{
  color: white;
  line-height: 95px;
}
.footer a:not(:last-child){
  padding-right: 27px;
}
.footer p{
  font-size: 13px;
}
.footer .col-12{
  color: white;
}
.footer .copyright{
  line-height: 95px;
}
.footer .address{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* loading */
.lds-spinner {
  color: official;
  display:none;
  position: absolute;
  width:64px;
  height:64px;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #666;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination-active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.resInfo {
    width:100%;
}
.resInfo img {
    width:240px;
    height:130px;
}
.pagination a:hover:not(.pagination-active) {background-color: #ddd;}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
@media only screen and (max-width: 992px){
  .footer{
    text-align: center;
  }
}
@media only screen and (max-width: 992px){
  .restaurant .restaurant-main{
    border:0;
  }
  .restaurant .restaurant-main .extra-wrap{
    display: none;
  }
  .restaurant .restaurant-main .restaurant-image{
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid green;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 992px){
  .middle form input{
    margin-bottom: 20px;
  }
  .middle form textarea{
    margin-top: 0px;
  }
}
@media screen and (max-width:480px) {
    .caption {
        font-size: 30px;
    }
    .slider-control {
        font-size:30px;
    }
    .pause-unpause-button img {
        width:30px;
        height:30px;
    }
}
@media screen and (max-height: 850px) {
    .image-slider-wrapper {
        height:95vh;
    }
}
@media screen and (max-height:400px) {
     .caption {
        font-size: 25px;
    }
}
/*------------------------------------------End of FOOTER-------------------------------------------------*/

